## About

<div class="grid-container">
<div class="post">
<img src="img/ok.jpg" class="circle" />
<h3>Oğul Köseoğlu</h3>
<p>Born in Muğla, in the southwestern coast of Turkey on July 27, 1983. Studied at the Languages Department in Muğla Anatolian High School. Studied American
Literature in Hacettepe University, Ankara. Graduated from the Comparative Literature department of Istanbul Bilgi University. Localization linguist.
Certified legal translator registered at Muğla 1st and Istanbul 19th notary public.</p>
</div>
<div class="post">
<img src="img/roket.png" class="circle" />
<h3>Roket Muroğlu</h3>
<p>Born in Emirgan, Istanbul in July 2018 in a family of community cats living on the street. Studied toy-hunting and aerial acrobatics. Hunts flies, bugs,
spiders, lizards, and mice. Responsibilities include waking up the human quite early in the morning, project management and financial operations.</p>
</div>
</div>

<style>
  .circle {width:15rem;border-radius:100%;margin:auto;}
</style>
