<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap" rel="stylesheet">
</head>

<style>
* {
  font-family: "Cormorant", serif;
}

h2:hover .anchorjs-link,
h3:hover .anchorjs-link {
    display: none;
}
</style>

# {{ page.title }}
### {{ page.description }}

I mainly focus on [human rights law](#), [journalism](#), [social theory](#), and [literature](#).
Experienced localization linguist. Notary certified legal translator. Bachelor of letters. Reader. Chess player.
