## References

<div class="grid-container">
  <div class="post">
    <img src="img/teresecristiansson.png" class="circle" />
    <h3>Terese Cristiansson</h3>
    <h4>Journalist, Author, Foreign News Correspondent at TV4, Sweden</h4>
    <p>I have worked with Ogul all over Turkey for several years and I am always amazed by his professionalism. Besides his professional skills he is very good in networking, meeting people and to travel with. I can not recommend him enough.</p>
  </div>
  <div class="post">
    <img src="img/elenamonicelli.png" class="circle" />
    <h3>Elena Monicelli</h3>
    <h4>Director at the Peace School Foundation of Monte Sole, Italy</h4>
    <p>We had the chance to work with Ogul in beautiful Istanbul. He accompanied us for three days of intense and interactive workshops. He was able to gently understand every slight nuance of us speaking and of the participants responding. He is a very nice person and it is impossible not to trust firstly his work and then his smile. Thank you, Ogul.</p>
  </div>
</div>
