## Services

<style>
  .grid-services {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1rem;
}
</style>

<div class="grid-services">
  
  ![](img/svg/1.svg)  
  Translation

  ![](img/svg/2.svg)  
  Interpreting

  ![](img/svg/3.svg)
  Remote interpreting

  ![](img/svg/4.svg)
  Legal translation

  ![](img/svg/5.svg)
  Journalism

  ![](img/svg/6.svg)
  Software localization

  ![](img/svg/7.svg)
  Subtitling and captioning

  ![](img/svg/8.svg)
  NMT post-editing

  ![](img/svg/9.svg)
  Pro-bono services
  </div>
