## Services

<style>
  .grid-services {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1rem;
}
  .grid-item {text-align: center;}

  .grid-item>img {width:3rem;}
  
</style>

<div class="grid-services">
  
  <div class="grid-item">
  <img src="img/svg/1.svg" />  
  <h3>Translation</h3>
  </div>

  <div class="grid-item">
  <img src="img/svg/2.svg" />  
  <h3>Interpreting</h3>
  </div>

  <div class="grid-item">
  <img src="img/svg/3.svg" />
  <h3>Remote interpreting</h3>
  </div>

  <div class="grid-item">
  <img src="img/svg/4.svg" />
  <h3>Legal translation</h3>
  </div>

  <div class="grid-item">
  <img src="img/svg/5.svg" />
  <h3>Journalism</h3>
  </div>

  <div class="grid-item">
  <img src="img/svg/6.svg" />
  <h3>Software localization</h3>
  </div>

  <div class="grid-item">
  <img src="img/svg/7.svg" />
  <h3>Subtitling and captioning</h3>
  </div>

  <div class="grid-item">
  <img src="img/svg/8.svg" />
  <h3>NMT post-editing</h3>
  </div>

  <div class="grid-item">
  <img src="img/svg/9.svg" />
  <h3>Pro-bono services</h3>
  </div>
    
  </div>
