<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>
    <div class="container-lg px-3 my-5 markdown-body">
<a href="{{ site.url }}"><h1>{{ site.title }} | Home</h1></a>

<style>
  h1 {color:black;
    font-size: 2em;
    margin:0.67em 0
}
  a:hover {text-decoration: none;}
</style>
    <h2>{{ post.title }}</h2>
      {{ content }}
      {% include contact.html %}
      {% include footer.html %}
      
    </div>
  </body>
</html>
